*{
    margin: 0px;
    padding: 0px;
    color:darkslategrey;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    /* background-color: cornflowerblue; */
    /* border-style: solid;
    border-width: 1px; */
    
   
}
body{
     background-image: url(" http://wallpaperheart.com/wp-content/uploads/2018/08/cool-background-designs-for-powerpoint-7.jpg");
}
p{
    
    text-align: center;
}
.bio{
   
    text-align: center;
}
.images{
   width: 4px;
 
}
.linkedIn{
    width: 100px;
    text-align: center;
}
.github{
    width:130px ;
    text-align: center;
}

h1{
  
    display: flex;
    flex-direction: row;
    
    
    
    
}

.imgages{
    size: 50px;
    text-align: center;
    width: 100%;
}

h3{
    list-style-type:none;
    text-align: center;
   
    
}
.skills{
    list-style-type:none;
   
 } 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
   

  }
  
  li {
    float: left;
   
  }
  
  li a {
    display: block;
    color: darkslategrey;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: seashell;
  }
li a.active {
    background-color: #4CAF50;
    
  }
  .container{
      display: grid;
      /* grid-template-columns: 420px 420px 450px;  */
      grid-template-rows: 300px 300px 200px;  
       /* grid-template-rows: 200px;  */
      margin: 2rem auto 2rem auto;
      column-gap: 30px;
      
  }
      
header{
    margin:0;
    padding: 0;
    overflow:hidden; 
    list-style-type: none;
    display: grid;
    justify-content: center;
   
  
}
.welcome{
    display:grid;
    justify-content: end;
}
    
main{

    display: grid;
    grid-template-columns: 500px 500px;
  justify-content:end;
  
     
}
  .main_bio{
     display: grid;
     justify-items: center;
    
  }
  .main_picture{
  
    display: grid;
    justify-content:space-evenly;
   


  }
 .projectsskills{
     display: grid;
     grid-template-columns: 400px 400px 400px;
     justify-content:start;

 }
 .pets{
     display: grid;
     justify-content: center;

 }
 .hospital{
     display: grid;
     justify-content: center;

 }
 .tasks{
     display: grid;
     text-align: center;
     justify-content: center;
 }

  footer{
    display: grid;
    justify-content: center;
   
}
.contact_github{

    display: grid;
    justify-content: center;

}
.contact_linkedin{
    
    display: grid;
    justify-content: center;

}