website.css * {
  margin: 0px;
  padding: 0px;
  color: rgb(181, 185, 185);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {

  background: rgb(36, 0, 6);
  background: radial-gradient(circle, rgba(36, 0, 6, 1) 0%, rgba(50, 34, 43, 0.8631827731092436) 57%);
}

.linkedIn {
  width: 140px;
  text-align: center;
}

.github {
  width: 130px;
  text-align: center;
}

.nav_bar a {
  display: block;
  color: rgb(153, 160, 160);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.nav_bar a:hover {
  background-color: seashell;
}

.nav_bar a.active {
  background-color: whitesmoke;

}

header {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  display: grid;
  justify-content: center;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
}

.welcome {
  display: grid;
  justify-content: end;
}

main {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: end;
  display: grid;
  display: flex;
  justify-content: center;
  text-align: center;

}

.main_bio {
  display: grid;
  display: flex;
  text-align: center;
  border: 15px;
  padding: 50px;
  margin: auto;
  width: 900px;
  color: darkgray;
}

.main_picture {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.tasks {

  text-align: center;
  justify-content: center;
  color: rgb(153, 160, 160);
  ;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

.contact {
  justify-content: center;
  display: grid;
  grid-area: auto;
  text-align: center;
  grid-template-columns: 400px 400px 400px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;

}

.containerproject {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 0px;


}

.projectsskills {

  justify-content: center;
  display: grid;
  grid-area: auto;
  text-align: center;
  grid-template-columns: 400px 400px 400px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  color: rgb(153, 160, 160);

}

a {
  text-decoration: non;
  color: white;
}

a:hover {
  color: darkgray;
}